/**
 CONTAINER SIZING
 CONTAINER SIZING
 CONTAINER SIZING
 CONTAINER SIZING
 CONTAINER SIZING

 **/
.container {
    width: auto;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}
@media (min-width: 768px) {
    .container {
        width: 750px;
    }
}
@media (min-width: 992px) {
    .container {
        width: 970px;
    }
}
@media (min-width: 1200px) {
    .container {
        width: 1170px;
    }
}
.container-fluid {
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}

/** BREADCRUMB LIs **/

.breadcrumb > li {
    list-style: none;
    margin-left: 5px;
}
.breadcrumb > li+ li:before {
    padding: 0 5px;
    color: #ccc;
    content: "/\00a0";
}

/*
 FONTS
 FONTS
 FONTS
 FONTS
 FONTS
 FONTS
 FONTS
 */

/** FONTS **/
h1, h2, h3, h4, h5, h6, h1 strong {
    font-family: gothamBook, sans-serif;
    text-transform: uppercase;
    letter-spacing: 3px;
}
h1 small, button {
    font-family: surveyorBook, serif;
    text-transform: uppercase;
    font-style: italic;
    letter-spacing: 1px;
}
/* blow up sizes */
p, td, th, select, input, .breadcrumb, label, .form-control {
    font-size: 1.4em;
    font-family: surveyorBook, serif;
}
.breadcrumb {
    font-size: 1.4em;
    font-family: gothamBook, sans-serif;
    text-transform: uppercase;
}
strong {
    font-weight: bold;
}

/*
 COLORS
 COLORS
 COLORS
 COLORS
 COLORS
 COLORS
 COLORS
 */
body {
    background: #d0c4af;
}
.canvas {
    color: #063953;
    padding: 25px 0 44px;
}

a {
    color: #1a5d83;
}
a:hover {
    color: #063953;
}
.btn-primary {
    color: #f5f5eb;
    background-color: #1a5d83;
    border-color: #063953;
}
.btn-primary:hover, .btn-primary:focus {
    background-color: #063953;
}
.btn-info {
    color: #f5f5eb;
    background-color: #2596be;
    border-color: #1a5d83;
}
.bg-info {
    background-color: #9ac3db;
}
.btn-info:hover, .btn-info:focus {
    background-color: #007fac;
}
.btn-warning {
    color: #f5f5eb;
    background-color: #ec943e;
    border-color: #d87c23;
}
.btn-warning:hover, .btn-warning:focus {
    background-color: #d87c23;
}
.btn-warning:disabled {
    background-color: #deaa77;
}

.has-success .checkbox, .has-success .checkbox-inline, .has-success .control-label, .has-success .help-block, .has-success .radio, .has-success .radio-inline, .has-success.checkbox label, .has-success.checkbox-inline label, .has-success.radio label, .has-success.radio-inline label {
    color: #1a5d83;
}
.has-success .form-control {
    border-color: #1a5d83;
}
.has-success .form-control:focus {
    outline-color: #1a5d83;
    border-color: #1a5d83;
}
.has-success .form-control-feedback {
    color: #1a5d83;
}
.has-success .form-control-feedback:focus {
    color: #1a5d83;
}
.has-feedback label~
.form-control-feedback {
    top: 31px;
}
.breadcrumb, .form-control {
    background-color: #f5f5eb;
}
.breadcrumb > .unavailable {
    color: #ccc;
}
.party-pane .row {
    border-bottom: thin solid #f5f5eb;
}
.h1 .small, .h1 small, .h2 .small, .h2 small, .h3 .small, .h3 small, .h4 .small, .h4 small, .h5 .small, .h5 small, .h6 .small, .h6 small, h1 .small, h1 small, h2 .small, h2 small, h3 .small, h3 small, h4 .small, h4 small, h5 .small, h5 small, h6 .small, h6 small {
    color: #1a5d83;
}
.cabin-pane .big-price {
    color: #063953;
}

/**
 PANE BY PANE
 PANE BY PANE
 PANE BY PANE
 PANE BY PANE
 PANE BY PANE
 PANE BY PANE
 PANE BY PANE
 PANE BY PANE
 */
header h1 small {
    margin-top: 0;
}
.party-pane .row {
    padding: 27px 0 17px 0;
}
.party-pane h3 {
    margin-bottom: 4px;
}
.cabin-pane .big-price {
    margin-left: 14px;
}
.cabin-pane .table-striped > tbody > tr:nth-of-type(odd) {
    background-color: #d0c4af;
}
.cabin-pane .row h3 {
    margin-top: 11px;
}
.table > tbody > tr > td, .table > tbody > tr > th, .table > tfoot > tr > td, .table > tfoot > tr > th, .table > thead > tr > td, .table > thead > tr > th {
    border-top: 1px solid #f5f5eb;
}
.guest-pane h2 {
    margin-top: 33px;
}
.checkout-pane li {
    margin-left: 0;
    list-style: none;
}
.checkout-pane #paypartial {
    font-size: 1.4em;
}
.checkout-pane .your-booking-header {
    margin-top: 30px;
}

/**
 MOBILE ADJUST
 *
 *
 */

@media (max-width: 767px) {
    .party-pane .col-md-3 {
        margin: 0;
    }
}

