body {
    font-size: 14px;
}

#bbpress-forums, #bbpress-forums ul {
    font-size: 14px !important;
}

a:hover {
    color: #0b6a9a !important;
}

input {
    background-color: white;
    padding: 5px;
    margin: 7px;
    width: auto;
}

textarea {
    background-color: white;
}

.forums-col {
    padding: 0;
}

#subscription-toggle {
    padding-left: 8px;
}

.bbp-header, .bbp-footer {
    background-color: #1a5d83 !important;
    color: white;
    font-family: gothamBook,"Helvetica Neue", Helvetica, Arial, sans-serif;
    text-transform: uppercase;
    font-weight: 500 !important;
}

.bbp-header a, .bbp-footer a {
    color: #f5f5eb;
    font-family: surveyorBook,Georgia, "Times New Roman", Times, serif;
    text-transform: capitalize;
}

.bbp-header a:hover, .bbp-footer a:hover {
    color: #d0c4af !important;
}

.bbp-reply-header {
    background-color: #d0c4af !important;
}

.bbp-admin-links a, .bbp-reply-permalink {
    color: #063953 !important;
    text-transform: capitalize !important;
}

.bbp-admin-links a:hover, .bbp-reply-permalink:hover {
    color: #0b6a9a !important;
}

#item-body p {
    line-height: 120% !important;
}