{% extends 'base.twig' %}

{% block content %}
    <section id="content" role="main">
        <div style="height: 50px;"><!--PADDING--></div>
        <section class="joco-page" id="page-page">
            <div class="container headers">
                <div class="col-xs-12 col-md-12" style="text-align: center;">
                    <img src="{{ theme.link }}/img/JoCo_dophinanchor.png" class="failboat" />
                </div>
                <div class="col-xs-12 col-md-12 text404">
                    <!--<p class="text404">404: Lost at sea!</p>-->
                    <h1 class="header404">Something went overboard.</h1>
                    <p>It appears that what you're looking for has been lost at sea.
                        <br /><br />
                        We'll send out the lifeboats, but in the meantime,
                        <br />can we interest you in something on deck?
                    </p>
                    <div class="button404">
                        <a href="/">Back to the main page</a>
                    </div>
                </div>
            </div>
        </section>

        <script type="text/javascript">
            jQuery('.button404').click(function(){jQuery(this).find('a')[0].click();});
        </script>
    </section>
{% endblock %}