<div class="bumper bumper-bottom">
    <div class="container">
        <div class="col-xs-6 bumper-left">
            {% if next.link %}
            <a href="{{ next.link }}">
                <span class="glyphicon glyphicon-menu-left"></span>
                {{ next.title }}
            </a>
            {% endif %}
        </div>
        <div class="col-xs-6 bumper-right">
            {% if prev.link %}
            <a href="{{ prev.link }}">
                {{ prev.title }}
                <span class="glyphicon glyphicon-menu-right"></span>
            </a>
            {% endif %}
        </div>
    </div>
</div>