{% extends 'page-base.twig' %}

{% block content %}
    <style>
        body {
            background-color: #ffffff;
        }
    </style>

    <section id="page-experience">
        <section id="what-is" class="nav-spacer">
            <div class="container">
                <div class="col-xs-12">
                    <img class="img-responsive" style="width:678px;" src="{{ template_uri }}/img/joco-boat-profile.svg"
                         alt="JoCo Boat Profile Image" id="what-is-ship"/>

                    <h1>{{ post.joco_cruise_to_image_in_title }}</h1>
                </div>
            </div>
        </section>
        <section id="exp-intro" class="joco_beige">
            <div class="container">
                <div class="col-xs-12 exp-intro-text">
                    {{ post.content }}
                </div>
            </div>
        </section>
    </section>

{% endblock %}