{% extends 'base.twig' %}

{% block content %}
    <script>
        var on_forums_page = true;
    </script>
    <link rel='stylesheet' id='forumscss'  href='{{ theme.link }}/css/forums.css' type='text/css' />
    <div class="container nav-spacer">
        <div class="col-xs-12 forums-col">
            {{ function('the_content') }}
        </div>
    </div>
{% endblock %}