<form style="margin-top:25px; margin-bottom:33px;" action="{{ pw_url }}" method="post">
    <p>This post is password protected</p>
    <label>Password:
        <input class="form-control" name="post_password" placeholder="password" type="password" size="20"
               maxlength="20"/>
        <input class="btn btn-lg btn-primary" type="submit" name="Submit" value="Submit"/>
    </label>
</form>
